@import url(./reset.css);

.body {
  background-color: #10121a;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 3rem auto 0;
  background-color: #181a22;
}

.header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}

.nav__logo-link {
  margin-left: 50px;
}

.nav__logo-item {
  font-size: 25px;
  font-weight: bold;
}

.nav__logo-item:hover {
  color: #1d53f9;
  text-decoration: underline;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__list-item {
  margin-right: 20px;
}

.nav__list-item:last-child {
  margin-right: 50px;
}

.nav__list-link {
  font-size: 20px;
}

.nav__list-link:hover {
  color: #1d53f9;
  text-decoration: underline;
}

.header__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 70px;
}

.btn {
  padding: 10px;
  background-color: #1a52fa;
  border-radius: 7px;
  color: inherit;
  font-weight: 700;
  margin-top: 20px`;
}
.btn:hover {
  background-color: #007fff;
}

.main {
  height: 100vh;
}
